<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cloud Mining 2.0</title>
	    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
        <link rel="stylesheet" type="text/css" href="css/slick.min.css">
	    <link rel="stylesheet" type="text/css" href="css/formstyler.theme.min.css">
	    <link rel="stylesheet" type="text/css" href="css/formstyler.min.css">
        <link rel="stylesheet" type="text/css" href="css/animate.min.css">
        <link rel="stylesheet" href="css/transition.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/redesign-header.css">
        <link rel="stylesheet" type="text/css" href="css/redesign-main.css">
        <link rel="stylesheet" href="css/dropdown.css">
        <link rel="stylesheet" type="text/css" href="css/responsive.css">
        <link rel="stylesheet" href="css/landing266.css">
        <link rel="stylesheet" type="text/css" href="css/topbar.css"/>
        <link rel="stylesheet" type="text/css" href="css/menu.css"/>
    </head>
    <body>
       <div class="fade" style=""></div>
        <div class="global-wrapper l266-gift-bg">
            <header class="container-fluid header l266-gift-header">
           
                <nav class="top-nav">
                    <div class="top-bar clearfix">
                        <div class="head-row clearfix">
                            <div class="float-left" ng-controller="Calls">
            
                                <div class="ui item dropdown dropdown-call dinb">
                                    <div class="top-bar-nav"><i class="phone-open"></i> <span>Call me back</span></div>
                                    <div class="menu">
                                        <div class="item">
                                            <div class="phone-notice">Please input your phone number with<br>country code and we
                                                will immediately contact you.</div>
                                            <div>+<input type="text" ng-model="phone" class="call-input" maxlenght="20"
                                                    force-integer placeholder="phone">
                                                <button class="button ui callback-btn" ng-click="send()"
                                                    ng-disabled="loading">Request a call</button></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="tel:+18299476391" class="top-phone dinb">+18299476393</a>
                            </div>
                            <div class="float-right nav">
            
                                <div class="ui item lang pointing dropdown">
                                    <input type="hidden" name="lang">
                                    <div class="default text"><i class="flag en"></i></div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <a href="/ru">
                                            <div class="item"><i class="flag ru"></i> <span>Русский</span></div>
                                        </a>
                                        <a href="/es">
                                            <div class="item"><i class="flag es"></i> <span>Español</span></div>
                                        </a>
                                        <a href="/fr">
                                            <div class="item"><i class="flag fr"></i> <span>Français</span></div>
                                        </a>
                                        <a href="/ar">
                                            <div class="item"><i class="flag ar"></i> <span>العربية</span></div>
                                        </a>
                                        <a href="/de">
                                            <div class="item"><i class="flag de"></i> <span>Deutsch</span></div>
                                        </a>
                                        <a href="/th">
                                            <div class="item"><i class="flag th"></i> <span>ไทย</span></div>
                                        </a>
                                        <a href="/cn">
                                            <div class="item"><i class="flag cn"></i> <span>中文</span></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="item"><a href="/en/login" class="login ui button small-btn">Login</a></div>
                                <div class="item"><a href="/en/register" class="register ui button sign small-btn">Sign up</a></div>
                                <span class="menu-toggle"><i></i></span>
                            </div>
                        </div>
                    </div>
            
                    <div class="head-row clearfix">
            
                        <div class="float-left logo">
                            <a href="/en"><img src="img/binarycent@3x.png" alt="Binarycent"></a>
                        </div>
            
                        <div class="float-right nav menu-drop-css-top">
                            <div class="ui item top-drop-in-css">
                                <a href="/en/register">How to start?</a>
                                <div class="menu">
                                    <div class="item"><a href="#">Open an account</a></div>
                                    <div class="item"><a href="#">Account Types</a></div>
                                    <div class="item"><a href="#">Funding methods</a></div>
                                    <div class="item"><a href="#">Withdrawal methods</a></div>
                                </div>
                            </div>
            
                            <div class="ui item top-drop-in-css">
                                <a href="/en/advantages">Advantages</a>
                                <div class="menu">
                                    <div class="item"><a href="#">Our advantages</a></div>
                                    <div class="item"><a href="#">Bonuses</a></div>
                                </div>
                            </div>
                            <div class="ui item top-drop-in-css">
                                <a href="#">FAQ</a>
                            </div>
                            <div class="ui item top-drop-in-css">
                                <a href="#">Contest</a>
                            </div>
                        </div>
            
                    </div>
                </nav>
            </header>
            <main class="container-fluid content">

            <div class="sec-bg">
                <section class="l266-section">
                    <div class="container">
                        <div class="t1"><span><b>GIV</b>E</span>AWAY</div>
                        <div class="t2">GET VALUABLE PRIZES <br>AND EXTRA 150% BONUS</div>
                        <p class="l266-desc">
                            Participate in the Binarycent giveaway, get 150% extra trading bonus and take and get a chance to win valuable prizes! Good luck! Participate in the Binarycent giveaway, get 150% extra trading bonus and take and get a chance to win valuable prizes! Good luck! Participate in the Binarycent giveaway, get 150% extra trading bonus and take and get a chance to win valuable prizes! Good luck!
                        </p>
						
						<div class="table-fr">
	                        <div class="t2 t3">Winners</div>
	                        <p class="l266-desc">
	                        This month we have two years old. We want to celebrate with you, and we give you 25% extra hashrate to your purchase. Since this is a special day, there is more to come! We run a special prize draw! When buying hashrate from 10.02.2019 to 28.02.2019, you not only get an additional 25% to the purchase, but also participate in the draw. You've got the chance to get one of the 100 valuable prizes!
	                        </p>
	                        <table class="table-em">
	                        	<tr>
	                        		<td><div class="hh">RANK</div></td>
	                        		<td><div class="hh">Email</div></td>
	                        		<td><div class="hh">Prize</div></td>
	                        	</tr>
	                        	<tr>
	                        		<td>1</td>
	                        		<td>Nikitin@gmail.com</td>
	                        		<td>New Macbook Air</td>
	                        	</tr>
	                        	<tr>
	                        		<td>2</td>
	                        		<td>Artstudio_nikitin@gmail.com</td>
	                        		<td>New iPad Pro</td>
	                        	</tr>
	                        	<tr>
	                        		<td>3</td>
	                        		<td>Nikitindigital@gmail.com</td>
	                        		<td>iPhone Xs Max 128 GB</td>
	                        	</tr>
	                        	<tr>
	                        		<td>4</td>
	                        		<td>nikitinda@gmail.com</td>
	                        		<td>Apple Watch Series 4</td>
	                        	</tr>
	                        	<tr>
	                        		<td>5</td>
	                        		<td>finpari@gmail.com</td>
	                        		<td>Rolex Watch</td>
	                        	</tr>
	                        	<tr>
	                        		<td>6</td>
	                        		<td>Nikitin@gmail.com</td>
	                        		<td>New Macbook Air</td>
	                        	</tr>
	                        	<tr>
	                        		<td>7</td>
	                        		<td>Artstudio_nikitin@gmail.com</td>
	                        		<td>New iPad Pro</td>
	                        	</tr>
	                        	<tr>
	                        		<td>8</td>
	                        		<td>Nikitindigital@gmail.com</td>
	                        		<td>iPhone Xs Max 128 GB</td>
	                        	</tr>
	                        	<tr>
	                        		<td>9</td>
	                        		<td>nikitinda@gmail.com</td>
	                        		<td>Apple Watch Series 4</td>
	                        	</tr>
	                        	<tr>
	                        		<td>10</td>
	                        		<td>finpari@gmail.com</td>
	                        		<td>Rolex Watch</td>
	                        	</tr>
	                        </table>
	                        <div class="btn-c"><a href="" class="btn">Show more</a></div>
                        </div>
                    </div>
                </section>


                <section class="l266-section prizes">
                    <div class="container">
                        <h2 class="landing-title l266-title-p" >Prizes</h2>
                        <div class="l266-cards-container">

                            <div class="card">
                                <div class="ttt1">Purchase amount</div>
                                <div class="ttt2">$250-1000</div>
                                <div class="frame">
                                    <div class="img"><img src="img/airpods.png" alt=""></div>
                                    <div class="tt1">AirPods</div>
                                    <div class="tt2">1 series</div>
                                </div>
                                <div class="ttt3">30 prizes</div>
                            </div>

                            <div class="card">
                                <div class="ttt1">Purchase amount</div>
                                <div class="ttt2">$1000-3000</div>
                                <div class="frame">
                                    <div class="img"><img src="img/applewatch.png" alt=""></div>
                                    <div class="tt1">Apple Watch</div>
                                    <div class="tt2">4 series</div>
                                </div>
                                <div class="ttt3">20 prizes</div>
                            </div>

                            <div class="card">
                                <div class="ttt1">Purchase amount</div>
                                <div class="ttt2">$3000+</div>
                                <div class="frame">
                                    <div class="img"><img src="img/iphonexs.png" alt=""></div>
                                    <div class="tt1">iPhone Xs Max</div>
                                    <div class="tt2">128 GB</div>
                                </div>
                                <div class="ttt3">10 prizes</div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>


                <section class="prize">
                    <div class="container">
                        <h2 class="landing-title l266-title-p" style="">How to Win a Prize</h2>
                        <div class="text-wr">
                            <div class="text-it it1">
                                <div class="t1">1</div>
                                <p>Fund your trading account with at least <span>$250</span>  using <span>BC25GVW</span> promo code.</p>
                            </div>
                            <div class="text-it it2">
                                <div class="t1">2</div>
                                <p>Deposit must be completed from <span>1.04.2019 00:00 GMT</span> to <span>30.04.2019 23:59 GMT</span></p>
                            </div>
                            <div class="text-it it3">
                                <div class="t1">3</div>
                                <p>Prize draw will be held on <span>03.05.2019 10:00 GMT</span>. Good luck!</p>
                            </div>
                        </div>
                    </div>
                </section>
 
                <section class="cupon-box">
                    <div class="container">
                        <div class="cupon">
                            <div class="tt2">USE PROMO CODE</div>
                            <div class="tt1">IQ25EASTER</div>
                        </div>
                        <p><a href="">GET 150% BONUS</a></p>
                         
                    </div>
                </section>
                 
            </main>
            <footer class="footer ">
                <div class="row clearfix container">
                    <div class="footer-cols clearfix">
                        <div class="row-6 footer-column">
                            <h4>How to start?</h4>
                            <ul>
                                <li><a href="#">Open an account</a></li>
                            </ul>
                        </div>
                        <div class="row-6 footer-column">
                            <h4>About us</h4>
                            <ul>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#"
                                       target="_blank">Affiliate program</a></li>
                            </ul>
                        </div>
                        <div class="row-6 footer-column">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="row-6 footer-column">
                            <h4>Social</h4>
                            <ul class="soc-list">
                                <li><a href="#" class="soc-item soc_fb"><span><img
                                        src="img/icons/icon-fb.svg" alt="Facebook"></span></a></li>
                                <li><a href="#" class="soc-item soc_ins"><span><img
                                        src="img/icons/icon-inst.svg" alt="Instagram"></span></a></li>
                                <li><a href="#" class="soc-item soc_tw"><span><img
                                        src="img/icons/icon-tw.svg" alt="Twitter"></span></a></li>
                                <li><a href="#"
                                       class="soc-item soc_yt"><span><img src="img/icons/icon-yt.svg" alt="Youtube"></span></a>
                                </li>
                                <li><a href="#" class="soc-item soc_yt"><span><img
                                        src="img/icons/icon-med.svg" alt="Medium"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <p>Cloud mining involves financial risks and may not be appropriate for all people. The information
                        presented here is for information and educational purposes only and should not be considered an offer or
                        solicitation to invest to Iqmining or elsewhere. Any investment decisions that you make are solely your
                        responsibility. IQ mining does not provide service for USA residents.</p>

                <div class="copy">
                    2017. Finance Group Corp. All rights reserved
                </div>
                </div>
            </footer>
        </div>

       <script src="js/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	    <script src="js/slick.min.js"></script>
        <script src="js/jquery.formstyler.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/animation.min.js"></script>
        <script src="js/jquery.spincrement.min.js"></script>
       <script src="js/dropdown.min.js"></script>
       <script src="js/transition.min.js"></script>
       <script src="js/forms.js" defer></script>
       <script src="js/winners-table.js"></script>  
</body>
</html>
